


@page "/"

<PageTitle>Index</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4"><i class="fas fa-cogs"></i> Dobrodošli!</h1>
            
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6 text-center">
            <div class="alert alert-info" role="alert">
                Pocnite sa prodajom nasih proizvoda! 
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-md-6 text-center">
        <a class="btn btn-primary" href="Identity/Account/Register"><i class="fas fa-play"></i>Registracija</a>
    </div>
    </div>
</div>


